.MessageBoard-wrap {
  background-color: #fff;
  padding: 8px;
}
.MessageBoard-wrap .header {
  display: flex;
  justify-content: space-between;
  height: 32px;
  line-height: 32px;
}
.MessageBoard-wrap .title {
  font-size: 18px;
  color: #ff544d;
  font-weight: bold;
}
.MessageBoard-wrap .more {
  font-size: 12px;
  color: #ff544d;
  padding-right: 6px;
}
.MessageBoard-wrap .arrowRight {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  color: #bbb;
}

.MessageBoard-wrap .items {
  display: flex;
  justify-content: space-between;
}